.filters-container {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px; 
  width: 100%;
}

.input-short {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px; 
  width: 100%;
}

.apply-button {
  padding: 8px 16px;
  background-color: #4f46e5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Mobile */
@media (min-width: 768px) {
  .filters-container {
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
  }

  .input-short {
    width: 190px;
  }

  .apply-button {
    width: auto;
  }
}
